@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  
.container-gallary{
    position: relative;
    min-height: 100vh;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}
.container-gallary .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.text{
    color: white;
}
.search-box i{
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}
.container-gallary .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 0px;
    overflow: hidden;
}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    transition: transform 0.6s linear;
}
.image-box:hover img{
    transform: rotateZ(360deg);
}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}


   /* Popup container */
.popup {
    position: relative;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .pagination_section {
    position: absolute;
    top: 500px;
    right: 230px;
}
 
/* pagination styling */
.pagination_section a {
    color: white;
    padding: 10px 18px;
    text-decoration: none;
}
 
/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #5c9f24;
    color: white;
}
 
/* pagination hover effect on active*/
a:nth-child(5) {
    background-color: #5c9f24;
    color: white;
}
      
a:nth-child(1) {
    font-weight: bold;
}
      
a:nth-child(7) {
    font-weight: bold;
}
      
.content {
    margin: 50px;
    padding: 15px;
    width: 800px;
    height: 200px;
    border: 2px solid #6460ca;
  
}
.pagination_section{
    margin-top:25% ;
    margin-right: 22%;
    margin-bottom: 50%;
    padding-bottom: 20%;
    color: white;
    
}

#photo-name{

    background-color: black;
}
#footer {
    background: #111111;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    margin-top: 15%;
  
  }
  #footer .footer-top {
    background: #1d1d1d;
    border-bottom: 1px solid #2f2f2f;
    padding: 60px 0 30px 0;
  }
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2a2a2a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #5c9f24;
    color: #fff;
    text-decoration: none;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #8ed851;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #81d33d;
  }
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
  }
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #5c9f24;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #6ab82a;
  }
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }